header {
    background-color: orange;
    height: 5rem;
    border-bottom: 0.1rem solid black;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    &__title {
        display: flex;
        font-size: 3rem;
        margin-left: 0.5rem;
    }
}